# defined using the cerberus validation API
# https://docs.python-cerberus.org/en/stable/index.html

test_name:
  type: string
test_id:
  type: string
knn_service:
  type: string
  allowed: [opensearch, nmslib]
service_config:
  type: string
dataset:
  type: string
dataset_format:
  type: string
  allowed: [hdf5]
test_parameters:
  type: dict
  schema:
    num_runs:
      type: integer
      min: 1
      max: 10
    show_runs:
      type: boolean
      default: False
